body {
  min-height: 100vh;
  position: relative;
}

button {
  margin: 5px 0 0 5px;
}

#surface {
  width: 600px;
  height: 550px;
  margin-top: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
}

.popover {
  position: absolute;
}


form *{
  margin: 5px;
}

.hide {
  display: none;
}
.visible {
  display: block !important;
}